.bn, .bn .vara{
  --backcolor:#eee;
  --forecolor:#000;
  --accentcolor:#444;
  --otheraccentcolor:#fff;
}
.bn .varb{
  --backcolor:#000;
  --forecolor:#fff;
  --accentcolor:#eee;
  --otheraccentcolor:#444;
}
.bn .varc{
  --backcolor:#eee;
  --forecolor:#444;
  --accentcolor:#000;
  --otheraccentcolor:#fff;
}


.original, .original .vara{
  --backcolor:#EBDED1;
  --forecolor:#0A47D1;
  --accentcolor:#FB4138;
  --otheraccentcolor:#ffffff;
}
.original .varb{
  --backcolor:#0A47D1;
  --forecolor:#EBDED1;
  --accentcolor:#ffffff;
  --otheraccentcolor:#FB4138;
}
.original .varc{
  --backcolor:#FB4138;
  --forecolor:#ffffff;
  --accentcolor:#EBDED1;
  --otheraccentcolor:#0A47D1;
}


.vibrant, .vibrant .vara{
  --backcolor:rgb(255, 230, 0);
  --forecolor:#000;
  --accentcolor:rgb(255, 100, 0);
  --otheraccentcolor:#fff;
}
.vibrant .varb{
  --backcolor:#000;
  --forecolor:rgb(255, 230, 0);
  --accentcolor:#fff;
  --otheraccentcolor:rgb(255, 100, 0);
}
.vibrant .varc{
  --backcolor:rgb(255, 100, 0);
  --forecolor:#fff;
  --accentcolor:rgb(255, 230, 0);
  --otheraccentcolor:rgb(255, 230, 0);
}



.polite, .polite .vara{
  --backcolor:#FEB8BA;
  --forecolor:#322067;
  --accentcolor:#fff;
  --otheraccentcolor:#449EAF;
}
.polite .varb{
  --backcolor:#322067;
  --forecolor:#FEB8BA;
  --accentcolor:#449EAF;
  --otheraccentcolor:#fff;
}
.polite .varc{
  --backcolor:#fff;
  --forecolor:#322067;
  --accentcolor:#449EAF;
  --otheraccentcolor:#322067;
}

.breeze, .breeze .vara{
  --backcolor:#A9DBD5;
  --forecolor:#000;
  --accentcolor:#fff;
  --otheraccentcolor:#38999D;
}
.breeze .varb{
  --backcolor:#000;
  --forecolor:#A9DBD5;
  --accentcolor:#fff;
  --otheraccentcolor:#38999D;
}
.breeze .varc{
  --backcolor:#fff;
  --forecolor:#38999D;
  --accentcolor:#A9DBD5;
  --otheraccentcolor:#000;
}

.sunny, .sunny .vara{
  --backcolor:#F9FFB1;
  --forecolor:#072020;
  --accentcolor:#EC4225;
  --otheraccentcolor:#9EB0BB;
}
.sunny .varb{
  --backcolor:#072020;
  --forecolor:#F9FFB1;
  --accentcolor:#EC4225;
  --otheraccentcolor:#9EB0BB;
}
.sunny .varc{
  --backcolor:#EC4225;
  --forecolor:#F9FFB1;
  --accentcolor:#9EB0BB;
  --otheraccentcolor:#072020;
}