*{
  box-sizing: border-box;
}

html, body, video, #app{
  width: 100%;
  height: 100%;

  --maincolor: #67657A;
  --accentcolor: #FEDB0A;
  --accentlight: #fff4b4;
}

body, #app, #__nuxt, #__layout{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app{
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}
/* h1,h2,h3,h4,h5,h6{
  font-family: 'Bodoni Moda', serif;
} */

mark{
  display: inline-block;
  background-color: var(--accentcolor);
}


.body{
  width:100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


.page{
  padding: 0 0.5rem;
  width: 100%;
  overflow: hidden;
}

.page img{
  width:100%;
}

.page blockquote{
  border-left:6px solid #ccc;
  padding-left:2rem;
  padding-top:1rem;
  padding-bottom:1rem;
  margin:0;
  font-size: 1.4em;
}
.page blockquote p{
  margin: 0;
}




video{
  object-fit: cover;
  object-position: top left;
}

html{
  /* font-size:40%; */
}

a{
  color:#000;
}
a:hover{
  background-color: var(--accentcolor);
}


@media(min-width: 450px){
  html{
    /* font-size:80%; */
  }
  .page{
    padding: 0 2rem;
    font-size:1.25rem;
  }

}

@media(min-width: 600px){
  html{
    /* font-size:90%; */
  }
  .page{
    padding: 0 3rem;
    font-size:1.15rem;
  }
}

@media(min-width: 725px){
  html{
    /* font-size:100%; */
  }
}

@media(min-width: 1000px){
  html{
    /* font-size:110%; */
  }
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}





.btn{
  background-color: #000;
  color: var(--accentcolor);
  padding: .75em 1.5em;
  border-radius: 3px;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  transition: transform .15s cubic-bezier(0.19, 1, 0.22, 1), background-color .25s ease-in-out;
}
.btn:hover{
  background-color: var(--accentcolor);
  color:#000;
  transform: scale(1.15);
}

.btn.mini{
  font-size: .65em;
  padding: .5em 1em;
}


div, a{
  transition:background-color .2s ease-in-out;
}





/* grid */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
  list-style-type: none;
  width: 100%;
}


.grid li{
  display: flex;
  flex-direction: column;
  padding:1rem;
  width: 100%;

  align-items: center;
  justify-content: center;
}

.grid li > a{
  border:1px solid #eee;
  width: 100%;
  padding:1rem;
  display: flex;
  flex-direction: column;
  color: black;
}

.grid li:hover > a{
  background-color:var(--accentcolor);
}
.grid li p{
  text-align: center;
  margin: 0;
}

.grid .img{
  border:1px solid #eee;  
}

.grid .img img{
  width: 100%;
  display: flex;
}
@media screen and (min-width: 400px){
  .grid li{
      width:50%;
  }
}
@media screen and (min-width: 770px){
  .grid{
      width: 90%;
  }
}
@media screen and (min-width: 1000px){
  .grid:not(.pair) li{
    width:33.333333333333%;
  }
}
@media screen and (min-width: 1400px){
  .grid li{
    width:25%;
  }
}



.hljs {
  white-space: pre;
  overflow-x: auto;
}





.feature{
  margin-bottom: 8rem;
}

.feature .columns{
  display: flex;
  flex-direction: column;
}

.feature .incipit p{
  text-align: left;
  color: #67657A;
}
.feature .incipit h2{
  font-weight: 900;
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: -0.08rem;
  line-height: 100%;
  margin: 0;
}
.feature .incipit h3{
  font-weight: 900;
}
.feature .incipit h4{
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #67657A;
}

.feature .incipit b{
  font-weight: 900;
}

.feature .incipit h2 b{
  display: inline-block;
  background-color: var(--accentcolor);
}

.feature .tiny{
  font-size: .9rem;
}

.feature .incipit mark{
  background-color: white;
  border: 4px solid var(--accentcolor);
  padding:.2rem .8rem;
}


.feature .incipit{
  padding: 1rem;
  font-size: 1.2rem;
}
.feature .left .incipit{
  padding: 0;
}

.feature .columns > div{
  flex:1;
  width: 100%;
  position: relative;
}

.feature .left{
  padding: 1rem;
  padding-top:0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feature .right{
  
  padding:1rem;
  padding-top:0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feature pre{
  margin: 0;
}

.feature .img{
  width: 100%;
}

.feature img{
  width: 100%;
}



@media screen and (min-width:550px) {
  .feature{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }
  .feature .left{
      font-size: 1.85rem;
  }
  
  .feature .code{
      font-size: 1.2rem;
  }
  .feature h2{
      text-align: left;
  }
}


@media screen and (min-width:920px) {
  .feature{
    width: 94%;
  }
  .feature h2{
      margin-top:0;
      
  }
  .feature .columns > div{
    width: 50%;
  }
  .feature .columns{
      flex-direction: row;
  }
  .feature .left{
      font-size: 1.5rem;
  }
}







.hero{
  padding:2rem 2rem;
  padding-top: 3rem;
  text-align: center;
}
.hero h1{
  font-size:3.2rem;
  margin:0;
  padding: 0;
  font-weight: 900;
  letter-spacing: -.2rem;
  margin-bottom: 1rem;
}
.hero h2{
  font-size:2rem; 
  line-height: 2rem;
  letter-spacing: -.1rem;

  margin:0;
  padding: 0;
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero h3{
  font-size:1.4rem;
  line-height: 1.4rem;
  margin:0;
  padding: 0;
  font-weight: 600;
  letter-spacing: -.1rem;
}

.hero b{
  display: inline-block;
  background-color: var(--accentcolor);
}




table{
  width: 100%;
  font-size: 1.2rem;
}
table thead{
  background-color: #eee;
}
table tr{
  border-bottom: 1px solid #eee;
}
table td, table th{
  padding:0.5rem;
}


/* 
.hero{
  padding:2rem 2rem;
  padding-top: 3rem;
}
h1{
  font-size:3.2rem;
  margin:0;
  padding: 0;
  text-align: center;
  font-weight: 900;
  letter-spacing: -.2rem;
  margin-bottom: 1rem;
}
h2{
  font-size:2.2rem;
  line-height: 2.2rem;
  margin:0;
  padding: 0;
  text-align: center;
  font-weight: 900;
  letter-spacing: -.1rem;
}

h1 b, h2 b{
  display: inline-block;
  background-color: var(--accentcolor);
} */

@media(min-width: 600px){
  .hero h1{
      font-size:7.2rem;
      line-height: 5.7rem;
      letter-spacing: -.4rem;
      margin-bottom: 2rem;
  }
  .hero h2{
      font-size:4rem;
      line-height: 4.2rem;
      letter-spacing: -.2rem;
      margin-bottom: 2rem;
  }
  .hero h3{
      font-size:2rem;
      line-height: 2.2rem;
      letter-spacing: -.1rem;
  }
}





.cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta .btn{
  font-size: 1.25rem;
}

@media(min-width: 600px){
    
  .cta .btn{
      font-size: 1.75rem;
  }

}




.badge{
  background: var(--accentcolor);
  color:#000;
  padding: 0rem 0.7rem;
  transform: rotate(-4deg);
}
.badge.free{
  background: #ddd;
}


@media(min-width: 600px){
    
  .badge{
    display: inline-block;
  }

}
