*{
  box-sizing: border-box;
}

html, body, video, #app{
  width: 100%;
  height: 100%;
}

body, #app, #__nuxt, #__layout{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app{
  display: flex;
  flex-direction: column;
}


.body{
  width:100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h1,h2,h3,h4,h5,h6{
  font-family: ivyjournal, sans-serif;
}


video{
  object-fit: cover;
  object-position: top left;
}

html{
  font-size:40%;
}


@media(min-width: 450px){
  html{
    font-size:80%;
  }
}

@media(min-width: 600px){
  html{
    font-size:90%;
  }
  
}

@media(min-width: 725px){
  html{
    font-size:100%;
  }
}

@media(min-width: 1000px){
  html{
    font-size:110%;
  }
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}





.btn{
  background-color: var(--backcolor);
  color: var(--forecolor);
  padding: .75em 1.5em;
  border-radius: 3px;
  font-size: .85em;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  text-decoration: none;
  font-family: Lato, sans-serif;
  transition: transform .25s cubic-bezier(0.19, 1, 0.22, 1), background-color .25s ease-in-out;
}
.btn:hover{
  background-color: var(--accentcolor);
  color:var(--backcolor);
  transform: scale(1.15);
}


div, a{
  transition:background-color .2s ease-in-out;
}

