.welcome{
    padding: 1rem;
}
.welcome h1{
    font-size: 3.2rem;
    line-height: 3.5rem;
    margin: 0;
    margin-bottom:2.5rem;
    font-weight: 600;
}

.welcome h3{
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    margin-bottom:1.5rem;
    font-weight: 300;
}

.welcome h3 strong{
    background-color: #000;
    color: white;
    padding: 0 .5rem;
}

.welcome p{
}

@media(min-width: 400px){
    .welcome h1{
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media(min-width: 500px){
    .welcome h1{
        font-size: 5rem;
        line-height: 5rem;
    }
}

@media(min-width: 1000px){
    .welcome h1{
        font-size: 6rem;
        line-height: 6rem;
    }
}