.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9f8;
}

.form {
  background-color: white;
  padding: 1rem;
  color: #0900f7;
  box-shadow: 0 5px 30px #ccc;
  text-align: center;
  width: 100%;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  transform: translateY(-200%);
}

.form.in {
  transform: translateY(0);
}

@media (min-width: 560px) {
  .form {
    width: 75%;
  }
}

@media (min-width: 720px) {
  .form {
    width: 50%;
  }
}

input,
button {
  width: 100%;
  padding: 1rem;
  border: none;
  border: 1px solid #eee;
}

.error {
  background-color: crimson;
  color: white;
}

.notice {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
}

.notice input {
  width: initial;
}

.field {
  border: 1px solid #0900f7;
}
.field::placeholder {
  color: rgba(8, 0, 247, 0.336);
}

button {
  display: block;
  margin-top: 0.5rem;
  background-color: #18bd80;
  border: none;
  color: white;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

button:not([disabled]):hover {
  background-color: #0900f7;
}
